@charset "UTF-8";

* {
    margin: 0px;
}
:root {
    --cor1: #FAF3DD;
    --cor2: #3E7778;
    --cor3: #203D3D;
}
body {
    font-family: Geneva, Tahoma, sans-serif;
    color: var(--cor1);
    background-color: var(--cor2);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.351);
}
h1 {
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.351);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.351);
}
p, h2, a{
    margin: 3px;
}
a {
    color: var(--cor1);
    transition-duration: .5s;
}
a:hover {
    background-color: var(--cor3);
    padding: 5px;
    margin: 5px;
    transition-duration: .5s;
    border-radius: 3px;
}
#especial:hover {
    background-color: #373D20;
    margin: 5px;
    padding: 0px;
}