@charset "UTF-8";

/*
    O id é # em CSS(só pode um elementos)
    A class é . em CSS(pode vários elementos)
*/
body {
    background-color: #CFE3E3;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #6ec2c2;
}
#principal {
    text-align: center;
    background-color: rgb(0, 179, 179);
    color: white;
}
h2 {
    color: #519494;
}
p {
    color: #2b4d4d;
}
.basico {
    text-align: center;
    background-color: rgb(1, 184, 184);
    color: white;
}
.intermediario {
    text-align: center;
    background-color: rgb(0, 83, 83);
    color: white;
}
.avancado {
    text-align: center;
    background-color: rgb(0, 44, 44);
    color: white;
}
.p {
    text-align: justify;
    color: #152929;
}