@charset "UTF-8";

/*
Medidas Absolutas:
cm, mm, in, px, pt, pc

Medidas Relativas:
em, ex, rem, vw, vh, %
Geralmente 1em = 16px
*/
h1, h2, p {
    background-color: #DDF8E8;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
h1 {
    color: #FB3640;
}
h2 {
    color: #686963;
}
body {
    background-image: linear-gradient(to bottom, #f5bf41, #772c76);
    background-attachment: fixed;
}